body {
    font-family: 'Open Sans', sans-serif;
}
main {
    position: relative;
    width: 90%;
    margin: auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}
strong {
    font-weight: 700;
}
em {
    font-weight: 300;
    font-style: italic;
}
li {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
ol {
    counter-reset: item;
}
ol li {
    display: block;
}
ol li:before {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    content: counters(item, ".") ". ";
    counter-increment: item;
}
ul {
    list-style: square;
}
code {
    background-color: aliceblue;
    font-family: 'Cousine', monospace;
}
.warning {
    color: red;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

table.table4 td, table.table4 th {
    width: 25%;
}
table {
    border: 2px #333 solid;
}
th, td {
    border: 1px #333 solid;
}
tbody tr:nth-child(2n-1) {
    background-color: antiquewhite;
}
td:not(.diff) {
    text-align: center;
}

.col3 span {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    vertical-align: text-top;
}
.col3 .name {
    width: 80%;
}
.col3 .type, .col3 .status {
    text-align: center;
    width: 5%;
}
